@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/lato/Lato-Light.ttf);
}

body {
    font-family: Lato-Light;
    font-size: 16px;
    background-image: url("assets/background.jpg");
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    width: 1024px;
    height: 50px;
    border-radius: 5px;
    background: #c6c6c6;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1 {
    margin: 0;
}

.name {
    position: relative;
    font-size: 25px;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 9px;
    letter-spacing: 6px;
}

.main-info {
    position: relative;
    top: 10px;
    width: 1024px;
    height: 360px;
    border-radius: 5px;
    background-color:  rgba(229, 229, 229, 0.8);
    margin: auto;
    transition: all 300ms;
}

.main-info:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

section img {
    position: relative;
    left: 50px;
    top: 35px;
    width: 200px;
    border: solid 1px;
    border-color: #adadad;
    border-radius: 5px;
}

article {
    position: relative;
    padding: 0px 85px 0px 135px;
    margin: -287px 16px 11px 242px;
}

h2 {
    font-size: 2em;
}

.summary {
    text-align: justify;
    font-size: 1.3em;
    font-weight: 500;
}

.contacts {
    word-spacing: 15px;
    margin-left: 16px;
    margin-top: 36px;
}

.contacts a {
    text-decoration: none;
    color: black;
    opacity: 1;
} 

.contacts a:hover {
    opacity: 0.5;
}

.location img{
    position: absolute;
    width: 17px;
    margin-top: 244px;
    margin-left: 81px;
    border: none;
}

.mail img{
    position: absolute;
    width: 17px;
    margin-top: 244px;
    margin-left: 220px;
    border: none;
}

.phone img{
    position: absolute;
    width: 17px;
    margin-top: 244px;
    margin-left: 368px;
    border: none;
}

.skype img{
    position: absolute;
    width: 17px;
    margin-top: 244px;
    margin-left: 550px;
    border: none;
}

.second-block {
    position: relative;
    top: -5px;
    width: 1024px;
    height: 160px;
    border-radius: 5px;
    background-color:  rgba(229, 229, 229, 0.8);
    margin: auto;
    transition: all 300ms;
}

.second-block:hover {
    transform: scale(1.1);
}

.second-block h2 {
    position: relative;
    text-align: center;
    top: 15px;
}

.skills {
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 25px;
}

.code {
    position: relative;
    top: -20px;
    width: 1024px;
    height: 160px;
    border-radius: 5px;
    background-color:  rgba(229, 229, 229, 0.8);
    margin: auto;
    transition: all 300ms;
}

.code:hover {
    transform: scale(1.1);
}
.code h2 {
    position: relative;
    text-align: center;
    top: 15px;
}
.examples {
    margin-left: 95px;
}

.experience {
    position: relative;
    top: -35px;
    width: 1024px;
    height: 160px;
    border-radius: 5px;
    background-color:  rgba(229, 229, 229, 0.8);
    margin: auto;
    transition: all 300ms;
}

.experience:hover {
    transform: scale(1.2);
}

.experience h2 {
    position: relative;
    text-align: center;
    top: 15px;
}

.htmlacademy {
    position: absolute;
    margin-top: 15px;
    margin-left: 330px;
    transition: all 1s;
}

.htmlacademy a svg{
    filter: invert(100%);
}

.htmlacademy:hover {
    transform: rotate(360deg);
}

.codecademy {
    position: absolute;
    margin-top: 24px;
    margin-left: 540px;
    transition: all 1s;
}

.codecademy:hover {
    transform: rotate(360deg);
}

.education {
    position: relative;
    top: -48px;
    width: 1024px;
    height: 160px;
    border-radius: 5px;
    background-color:  rgba(229, 229, 229, 0.8);
    margin: auto;
    transition: all 300ms;
}

.education:hover {
    transform: scale(1.1);
}
.education h2 {
    position: relative;
    text-align: center;
    top: 15px;
}
.edu {
    margin-left: 95px;
}

.english {
    position: relative;
    top: -62px;
    width: 1024px;
    height: 160px;
    border-radius: 5px;
    background-color:  rgba(229, 229, 229, 0.8);
    margin: auto;
    transition: all 300ms;
}

.english:hover {
    transform: scale(1.1);
}
.english h2 {
    position: relative;
    text-align: center;
    top: 15px;
}

.eng {
    margin-left: 120px;
}

footer {
    position: relative;
    background: #c6c6c6;
    width: 1024px;
    height: 60px;
    border-radius: 5px;
    margin: auto;
}

.thx {
    position: relative;
    top: 25px;
    text-align: center;
    transition: all 1000ms;
}

.thx:hover {
    font-size: 1.5em;
}