html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Lato-Light;
  src: url(assets/fonts/lato/Lato-Light.ttf);
}

body {
  font-family: Lato-Light;
  font-size: 16px;
  background-image: url("assets/background.jpg");
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  margin: 10px 0;
}

header,
main,
footer {
  width: 70%;
  margin: auto;
}

header {
  border-radius: 5px;
  background: #c6c6c6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 2em;
}

.name {
  position: relative;
  font-size: 25px;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 9px;
  letter-spacing: 6px;
}

section {
  border-radius: 5px;
  background-color: rgba(229, 229, 229, 0.8);
  margin: 20px 0;
  transition: 0.3s;
  padding: 20px 30px;
}

section h2 {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
}

section:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section:first-child:hover {
  transform: scale(1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section .content__wrap {
  margin-left: 10%;
}

.main-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.main-info__image {
  display: block;
  width: 20%;
}

.main-info__image img {
  border-radius: 5px;
  width: 100%;
  transition: 0.3s;
}

.main-info__image img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 500ms;
  border-radius: 10%;
}

.main-info__description {
  width: 70%;
}

.summary {
  text-align: justify;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.1;
}

.contacts {
  word-spacing: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 20px;
  font-weight: 500;
  margin-left: 27%;
}

.contacts__item {
  display: flex;
  align-items: center;
  width: 33%;
  margin-bottom: 15px;
  position: relative;
}

.contacts__item__icon img {
  width: 25px;
  margin-right: 5px;
}

.contacts__item__value {
  color: #000000;
}

.contacts__item__value a {
  text-decoration: none;
  color: #000000;
}

.skills {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skills__item {
  padding: 0 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}

.skills__item::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0.5px;
  height: 100%;
  background-color: #000000;
}

.skills__item:last-child:after {
  display: none;
}

.code__examples__list a {
  text-decoration: none;
}

.education__list {
  list-style-type: decimal;
}

.education__list li a {
  text-decoration: none;
}

.lang__list li,
.education__list li,
.code__examples__list li {
  margin-bottom: 10px;
}

footer {
  background: #c6c6c6;
  border-radius: 5px;
}

.thx {
  text-align: center;
  transition: all 1s;
  padding: 20px 30px;
  box-sizing: border-box;
}

.thx:hover {
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  .contacts__item {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  header,
  main,
  footer {
    width: 80%;
  }
  .main-info__image {
    width: 30%;
  }
  .main-info__description {
    width: 60%;
  }
  .contacts {
    margin-left: 37%;
  }
}

@media (max-width: 1024px) {
  .summary {
    font-size: 18px;
  }
  h2 {
    font-size: 1.7em;
  }
  .skills__item {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .main-info {
    flex-wrap: wrap;
  }
  .main-info__image {
    width: 65%;
    margin-bottom: 30px;
  }
  .main-info__description {
    width: 85%;
  }
  .summary {
    font-size: 18px;
  }
  .contacts {
    width: 85%;
    margin: 20px auto;
  }
}

@media (max-width: 620px) {
  .contacts__item__value {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .contacts__item {
    width: 100%;
  }
  .contacts__item__value {
    font-size: 16px;
  }
  .skills__item {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  header,
  main,
  footer {
    width: 90%;
  }
  h2 {
    font-size: 1.2em;
  }
  .main-info__image {
    width: 80%;
  }
  .main-info__description {
    width: 95%;
  }
  .summary {
    font-size: 16px;
  }
  .contacts {
    width: 95%;
  }
}

@media (max-width: 380px) {
  section {
    padding: 20px;
  }
  section .content__wrap {
      margin-left: 0;
  }
  .main-info__description {
    width: 100%;
  }
  .education__list {
      padding: 0 10px;
      box-sizing: border-box;
  }
}
